@media (prefers-color-scheme: light) {
    :root {
        /* Update CSS variables */
    }
}

[data-theme=dark],
.theme-dark {
    /* Update CSS variables */
}


.hero-body > .container > .columns {
    width: 100%;
    height: 100%;
}

.full-height-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.full-height-content .box {
    flex-grow: 1;
}


.notification {
    position: fixed;
    top: 50px;
    right: 20px;
    width: auto;
    min-width: 300px;
    max-width: 500px;
    z-index: 9999;

    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


.image-thumbnail {

    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 0.25rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform 0.2s ease-in-out;
}

.image-thumbnail:hover {
    transform: scale(1.05);
}

.dropzone {
    min-height: 40px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    white-space: nowrap
}

.recipe-ingredient {
    background: #01077a;
}

.recipe-labour {
    background: #620202;
}

.recipe-sub-recipe {
    background: #631f85;
}

.loading-spinner {
    min-height: 200px;
}

.modal-card-foot {
    justify-content: flex-end
}

.clickable-chart .MuiPieArc-root {
    cursor: pointer;
}

.MuiChartsLegend-item{
    color: aliceblue;
}

.invoice-card{
    max-width: 850px;
}

@media screen and (min-width: 1024px) {
    .is-sticky-desktop {
        position: sticky;
        top: 0;
        align-self: flex-start; /* Necessary for sticky positioning within a flex container */
    }
}

.video-loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 500px;
    height: 30vh; /* Make it 30% of the full viewport height */
    /*background-color: #f8f9fa; !* A light background color *!*/
}

.loader-video {
    width: 250px; /* Adjust size as needed */
    height: auto;
    border-radius: 8px;
}

.video-loader-container p {
    margin-top: 16px;
    font-family: sans-serif;
    /*color: #555;*/
}